.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(236, 160, 126, 0.61);
    padding-top: 8px;
    color: white;
    text-align: center;
}
