.estilo{
	text-align: left;
	font-weight: bold;
	color: black;
}

.estilo2{
	text-align: left;
	color: black;
	font-weight: bold;
}

.imagem{
	width: 240px;
	height: 240px;
	padding-left: 40%
	position: relative;

}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(152, 67, 22, 0.42);
    color: white;
    text-align: center;
}
