.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(236, 160, 126, 0.61);
    padding-top: 6px;
    color: white;
    text-align: center;
}

.background {
    background-position: center center fixed;
    background-size: cover;
}
