.estilo{
	text-align: left;
	color: white;
}

.estilo2{
	text-align: left;
	color: white;
}

.imagem{
	width: 240px;
	height: 240px;
	padding-left: 40%
	position: relative;

}
.footer {
    position: relative;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 7 0 1 0;
    background-color: rgba(66, 89, 7, 0.48);
    color: white;
    text-align: center;
}
