<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/RPG.css">
	<link rel="stylesheet" type="text/css" href="../css/druida.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="background" background="http://4.bp.blogspot.com/-J5bBXWwe1B0/UxpK3S9RzBI/AAAAAAAAamc/NICNsXUZChw/s1600/cronicas_rpg_by_caiomm-d6rvknz.jpg">
	<div id="menu"></div>

	<div class="container">
		<div class="row rpg-row">
			<div class="col-lg-12" height="100%">
				<img src="http://3.bp.blogspot.com/-GukJ82bEVaU/VNdabpEGJeI/AAAAAAAAAdg/Kn0M9-ZttPU/s1600/BobKehl.jpg" class="char-portrait"/>
			</div>
			<div class="col-lg-12 char-description">
				<dl>
					<dt>&nbsp;&nbsp;&nbsp;&nbsp;Glaedr <span class="char-icon"><img src="../imgs/S_Magic06.png" /></span></dt>
					<dd>Classe: Druida</dd>
					<dd>Nível: 9.5</dd>
					<dd>Raça: Meio-elfo</dd>
					<dd>Patrono: Mãe</dd>
				</dl>
			</div>
		</div>
		<div class="row rpg-row" text-align="center">
			<div class="col-lg-3 char-box">
				<dl>
					<dt>Atributos <span class="box-icon"><img src="../imgs/S_Buff01.png" /></span></dt>
					<dd>Força: 16 + 3</dd>
					<dd>Destreza: 12 + 2</dd>
					<dd>Constuição: 15 + 1</dd>
					<dd>Inteligência: 10 + 0</dd>
					<dd>Sabedoria: 18 + 5</dd>
					<dd>Carisma: 8 - 1</dd>
				</dl>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3 char-box">
				<dl>
					<dt>Subatributos <span class="box-icon"><img src="../imgs/S_Holy03.png" /></span></dt>
					<dd>PV Total/PV Atual: 17 / 16</dd>
					<dd>CA: 15</dd>
					<dd>PM Total/PM Atual: 10 / 10</dd>
					<dd>Status(Efeito): Nenhum</dd>
				</dl>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-4 char-box">
				<dl>
					<dt>Magias e Habilidades <span class="box-icon"><img src="../imgs/I_Book.png" /></span></dt>
					<dd>Orientação a natureza</dd>
					<dd>1PM - Curar/Causar ferimentos leves: 1D4 + 1</dd>
					<dd>1PM - Cirulo de fé: 1D4</dd>
					<dd>1PM - Falar com animais</dd>
					<dd>2PM - Arma em Serpente 1D4 + desarmamento(1 turno)</dd>
				</dl>
			</div>
		</div>

		<div class="row rpg-row">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-4 char-box">
				<dl>
					<dt>Equipamentos <span class="box-icon"><img src="../imgs/A_Armor04.png" /></span></dt>
					<dd>Armadura de couro: +1 de CA</dd>
					<dd>Leque: 1D6</dd>
					<dd>Bastão da Herdeira do caos: ?? e aumenta PM máximo</dd>
					<dd>Chicote cogumelo: 1D6 + 1 && poison</dd>
					<dd>Chicote de vinhas: 1D6 + 2</dd>

				</dl>
			</div>
			
			<div class="col-lg-2"></div>
			<div class="col-lg-4 char-box">
				<dl>
					<dt>Inventário <span class="box-icon"><img src="../imgs/I_Chest01.png" /></span></dt>
					<dd>Gold: 161</dd>
					<dd>Quest: Chave de Ouro Joaninha</dd>
					<dd>Caixa dos Revólveres Caótico</dd>
					<<dd>Quest: Aposta em Prol da Alcateia da Harpia</dd>>
				</dl>
			</div>
		
			<div class="row rpg-row" text-align="center">
				<div class="col-lg-4 char-box">
					<dl>
						<dt>Pet <span class="box-icon"><img src="../imgs/pet-barnowl.png" /></span></dt>
						<dd>Nome: Jean-Paul</dd>
						<dd>Hp: 12/12</dd>
						<dd>CA: 13</dd>
						<dd>Força: 10 + 0</dd>
						<dd>Destreza: 14 + 2</dd>
						<dd>Constituição: 10 + 0</dd>
						<dd>Sabedoria: 20 + 5</dd>
						<dd>Inteligencia 14 + 2</dd>
						<dd>Carisma: 12 + 2</dd>
						<dd>Vantagem: Bônus em rolagem de sabedoria</dd>

					</dl>
				</div>
			</div>
		</div>
	</div>

	<div class="rpg-row"></div>
	<div class="footer">
 		 <p>Feito com amor</p>
	</div>

</body>
</html>
<script>
	$(document).ready(function() {
		$('#menu').load('https://andrerosamatos.github.io/RPG/views/menu.html');
		$('#glaedr-link').ready(function() {
			$('#glaedr-link').addClass('active');
		});
	});
</script>
