<!DOCTYPE html>
<html>
<head>
	<title>RPG</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/RPG.css">
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="estilo background" background="http://4.bp.blogspot.com/-J5bBXWwe1B0/UxpK3S9RzBI/AAAAAAAAamc/NICNsXUZChw/s1600/cronicas_rpg_by_caiomm-d6rvknz.jpg">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RPG</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Nosso 1º RPG</a></li>
      <li><a href="Glaedr.html">Glaedr</a></li>
      <li><a href="Urukai.html">Urukai</a></li>
      <li><a href="Lauriel.html">Lauriel</a></li>

    </ul>
  </div>
</nav>

<h1 align="center"> Ainda não sei o que colocar aqui</h1>

<div class="footer">
  <p>Feito com amor</p>
</div>

</body>
</html>
