<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/RPG.css">
	<link rel="stylesheet" type="text/css" href="../css/assassino.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>

<body class="background" background="http://4.bp.blogspot.com/-J5bBXWwe1B0/UxpK3S9RzBI/AAAAAAAAamc/NICNsXUZChw/s1600/cronicas_rpg_by_caiomm-d6rvknz.jpg">
	<div id='menu'></div>

	<div class="container">
		<div class="row rpg-row">
			<div class="col-lg-12" height="100%">
				<img src="https://danielbgmitre.github.io/RPG/imgs/ranger.png" class="char-portrait"/>
			</div>
			<div class="col-lg-12 char-description">
				<dl>
					<dt>&nbsp;&nbsp;&nbsp;&nbsp;Lauriel <span class="char-icon"><img src="../imgs/S_Magic06.png" /></span></dt>
					<dd>Classe: Assassino</dd>
					<dd>Nível: 7.20</dd>
					<dd>Raça: Meio-elfo</dd>
					<dd>Patrono: </dd>
				</dl>
			</div>
		</div>

		<div class="row rpg-row" text-align="center">
			<div class="col-lg-3 char-box">
				<dl>
					<dt>Atributos <span class="box-icon"><img src="../imgs/S_Buff01.png" /></span></dt>
					<dd>Força: 13 + 1</dd>
					<dd>Destreza: 22 + 6</dd>
					<dd>Constuição: 8 + -1</dd>
					<dd>Inteligência: 16 + 3</dd>
					<dd>Sabedoria: 12 + 1</dd>
					<dd>Carisma: 8 - 1</dd>
				</dl>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3 char-box">
				<dl>
					<dt>Subatributos <span class="box-icon"><img src="../imgs/S_Holy03.png" /></span></dt>				
					<dd>PV Total/PV Atual: 11 / 6</dd>
					<dd>CA: 17</dd>
					<dd>PM Total/PM Atual: 7 / 7</dd>
					<dd>Status(Efeito): Nenhum</dd>
				</dl>
			</div>

			<div class="col-lg-1"></div>
			<div class="col-lg-4 char-box">
				<dl>
					<dt>Magias e Habilidades <span class="box-icon"><img src="../imgs/I_Book.png" /></span></dt>
					<dd>Ódio: Recupera 1D4 - 1 de PV</dd>
					<dd>1PM - Atuação: Vantagem carisma</dd>
					<dd>1PM - Furtividade: 1D4 em destreza</dd>
					<dd>1PM - Vantagem + inteligência</dd>
				</dl>
			</div>
		</div>

		<div class="row rpg-row">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-4 char-box">
				<dl>
					<dt>Equipamentos <span class="box-icon"><img src="../imgs/A_Armor04.png" /></span></dt>
					<dd>Armadura de couro: +1 de CA</dd>
					<dd>(2) Besta: 1D6</dd>
					<dd>Lâmina do Herdeiro do caos: 1D6 + 1 com vantagem</dd>
					<dd>(2) Revolver Caótico: 1D6 cada 4 rounds</dd>
				</dl>
			</div>

			<div class="col-lg-2"></div>
			<div class="col-lg-4 char-box">
				<dl>
					<dt>Inventário <span class="box-icon"><img src="../imgs/I_Chest01.png" /></span></dt>
					<dd>Gold: 70</dd>
					<dd>Livro de magia</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="rpg-row"></div>
	<div class="footer">
		<p>Feito com amor</p>
	</div>
	
</body>
</html>
<script>
	$(document).ready(function() {
		$('#menu').load('https://raw.githubusercontent.com/danielbgmitre/RPG/master/views/menu.html');
		$('#lauriel-link').ready(function() {
			$('#lauriel-link').addClass('active');
		});
	});
</script>
