<head>
	<link rel="stylesheet" type="text/css" href="../css/RPG.css">
	<link rel="stylesheet" type="text/css" href="../css/assassino.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>
<body class="estilo background" background="../imgs/ranger.png"> <!-- imagem original em https://orig00.deviantart.net/5777/f/2010/063/3/d/i_collect_random_junk_by_yamiredpen.png -->

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="index.html">RPG</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="index.html">Nosso 1º RPG</a></li>
	      <li><a href="Glaedr.html">Glaedr</a></li>
	      <li><a href="Urukai.html">Urukai</a></li>
	      <li><a href="Lauriel.html">Lauriel</a></li>

	    </ul>
	  </div>
	</nav>

	<ul class="estilo">

		<li><h1>Nome: Lauriel</h1></li>
		<li><h4>Classe: Assassino</h4></li>
		<li><h4>Nível: 6.66</h4></li>
		<li><h4>Raça: Meio-elfo</h4></li>
		<li><h4>Patrono: </h4></li>

	</ul>

	<ul class="estilo2">
		<li><h3>Atributos</h3></li>
		<li><h4>Força: 13 + 1</h4></li>
		<li><h4>Destreza: 22 + 6</h4></li>
		<li><h4>Constuição: 8 + -1</h4></li>
		<li><h4>Inteligência: 16 + 3</h4></li>
		<li><h4>Sabedoria: 12 + 1</h4></li>
		<li><h4>Carisma: 8 - 1</h4></li>
	</ul>

	<ul class="estilo2">
		<li><h3>Subatributos</h3></li>
		<li><h4>PV Total/PV Atual: 11 / -1</h4></li>
		<li><h4>CA: 17</h4></li>
		<li><h4>PM Total/PM Atual: 7 / 7</h4></li>
		<li><h4>Status(Efeito): Nenhum</h4></li>
	</ul>

	<ul class="estilo2">
		<li><h3>Equipamentos</h3></li>
		<li><h4>Armadura de couro: +1 de CA</h4></li>
		<li><h4>(2) Besta: 1D6</h4></li>
		<li><h4>Lâmina do Herdeiro do caos: 1D6 + 1 com vantagem</h4></li>
	</ul>

	<ul class="estilo2">
		<li><h3>Magias e Habilidades</h3></li>
		<li><h4>Ódio: Recupera 1D4 - 1 de PV</h4></li>
		<li><h4>1PM - Atuação: Vantagem carisma</h4></li>
		<li><h4>1PM - Furtividade: 1D4 em destreza</h4></li>
		<li><h4>1PM - Vantagem + inteligência</h4></li>
	</ul>

	<ul class="estilo2">
		<li><h3>Inventário</h3></li>
		<li><h4>Gold: 45</h4></li>
		<li><h4>Livro de magia</h4></li>
	</ul>


	<div class="footer">
 		 <p>Feito com amor</p>
	</div>
</body>
