<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">RPG</a>
    </div>
	<div class="collapse navbar-collapse" id="mainMenu">
	    <ul class="nav navbar-nav">
	      <li id="glaedr-link"><a href="Glaedr.html">Glaedr</a></li>
	      <li id="urukai-link"><a href="Urukai.html">Urukai</a></li>
	      <li id="lauriel-link"><a href="Lauriel.html">Lauriel</a></li>
	      <li id="livro-link"><a href="ordem-e-caos-_1__compressed.html">Livro</a></li>
	    </ul>
	</div>
  </div>
</nav>
