<head>
	<link rel="stylesheet" type="text/css" href="../css/orc.css">
	<link rel="stylesheet" type="text/css" href="../home_rpg.html">
	<link rel="stylesheet" type="text/css" href="Lauriel.html">
	<link rel="stylesheet" type="text/css" href="Glaedr.html">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>
<body class="estilo" background="../imgs/Orc2.jpeg">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RPG</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../home_rpg.html">Nosso 1º RPG</a></li>
      <li><a href="Glaedr.html">Glaedr</a></li>
       <li><a href="Urukai.html">Urukai</a></li>
       <li><a href="Lauriel.html">Lauriel</a></li>
    </ul>
  </div>
</nav>

	<ul class="estilo">

		<li><h1>Nome: Urukai</h1></li>
		<li><h4>Classe: Paladino</h4></li>
		<li><h4>Nível: 7.40</h4></li>
		<li><h4>Raça: Meio-orc</h4></li>

	</ul>

	<ul class="estilo2">	
		<li><h3>Atributos</h3></li>
		<li><h4>Força: 17 + 5</h4></li>
		<li><h4>Destreza: 12 + 1</h4></li>
		<li><h4>Constuição: 18 + 5</h4></li>
		<li><h4>Inteligência: 8 - 2</h4></li>
		<li><h4>Sabedoria: 13 + 1</h4></li>
		<li><h4>Carisma: 9 - 2</h4></li>
	</ul>

	<ul class="estilo2">	
		<li><h3>Subatributos</h3></li>
		<li><h4>PV Total/PV Atual: 25 / 10</h4></li>
		<li><h4>CA: 15</h4></li>
		<li><h4>PM Total/PM Atual: 7 / 1</h4></li>
		<li><h4>Status(Efeito): Nenhum</h4></li>
	</ul>

	<ul class="estilo2">	
		<li><h3>Equipamentos</h3></li>
		<li><h4>Armadura de boneca: +2 de CA</h4></li>
		<li><h4>O espadão: 1D6</h4></li>
		<li><h4>Lança da Ressonância: 1D6 + 1</h4></li>
	</ul>

	<ul class="estilo2">	
		<li><h3>Magias e Habilidades</h3></li>
		<li><h4>Vontade de Ferro</h4></li>
		<li><h4>1PM - Atletismo</h4></li>
		<li><h4>1PM - Maestria em combate</h4></li>
		<li><h4>1PM?? - Intuição</h4></li>
		
	</ul>

	<ul class="estilo2">	
		<li><h3>Inventário</h3></li>
		<li><h4>Gold: 43</h4></li>
		<li><h4>Chave??</h4></li>	
	</ul>

	
	<div class="footer">
 		 <p>Feito com amor</p>
	</div>
</body>